@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=PT+Serif:wght@700&display=swap');

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: url(./images/bunnie.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.paws {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
}

.paws:hover {
  animation-name: wave-animation;  
  animation-duration: 2.5s;        
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%;      
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}

.logo {
  font-family: 'Nunito', sans-serif;
  position: fixed;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

.logo:hover,
.logo:active {
  color: #676769;
}

.headerLogo {
  margin-right: 10px;
}

.message1 {
  -webkit-text-stroke: 0.4px rgb(168, 158, 158);
  position: absolute;
  font-size: 3.0em;
  font-family: 'PT Serif', serif;
 margin-top: 450px;
 margin-bottom: -550px; 
left: 0;
right: 0;
 color: #dde2e2;
 z-index: 1;
 transition: all 0.8s ease;
}

.stage h2 {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}

@keyframes fader {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
  
}

.back-to-top:link,
.back-to-top:visited {
  color: rgb(197, 192, 192);
  z-index: 10;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  animation: bounce 1s linear infinite;
  -webkit-animation: bounce 1s linear infinite;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.back-to-top:hover,
.back-to-top:active {
  color: #060403;
}
.back-to-top.visible {
  opacity: 0.5;
  pointer-events: auto;
  visibility: visible;
}
.back-to-top span {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 1rem;
  letter-spacing: 4px;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* BELOW 832px (Tablets) */
@media (max-width: 52em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/* BELOW 600px (Phones) */
@media (max-width: 37em) {
  .hamburger-menu {
    top: 0.5rem;
    right: 1rem;
  }
  .logo {
    top: 1rem;
    left: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
}

.container {
  position: relative;
  margin-top: -135px;
  margin-bottom: 135px;
}
.each-slide > div {
  border-radius: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  max-width: 100%;
  width: auto;
}


